html, body {
    --text-color: black;
    scroll-behavior: smooth;
    user-select: none;
    background-color: #fca;
    color: var(--text-color);
    font-size: 14px;
    font-family: CTRNTLG,nintendo_NTLG-DB_002,nintendo_NTLG-DB_001,sans-serif!important;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#pagec0 {
  margin: 0px; padding: 0px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: absolute;
  right: 0px;
  top: 32px;
  width: calc(100% - 256px);
  min-height: calc(100vh - 64px);
}

#pagec1 {
  margin-top: 32px; padding: 0px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 100%;
  min-height: calc(100vh - 64px);
}

.pageindex{
  background-color: rgba(255,255,255,.75);
  box-shadow: 0 0 5px black;
  position: fixed;
  left: 0px;
  top: 32px;
  width: 256px;
  height: calc(100vh - 64px);
}

.pageindex button {
  width: 100%;
  min-height: 20px;
  transition: background-color 250ms, color 250ms;
  border: 0px solid black;
  background-color: rgba(0,0,0,.125);
}

.pageindex button:hover {
  background-color: rgba(0,0,0,.25);
}

.pageindex button:active {
  background-color: rgba(0,0,0,.5);
  color: white;
}

h1,h2,h3,h4,h5,h6{
		font-family: CTRNTLGE;
}

p {
		margin-top: 12px;
		margin-bottom: 12px;
}

hr {
    opacity: 1;
    width: 90%;
    margin: 7px 5% 7px 5%;
    border-top-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

.scrupy {
    position: fixed;
    right: 16px;
    width: 64px;
    height: 64px;
    transition: bottom 500ms, opacity 250ms;
    background-image: url("./assets/scrupy.png");
    flex: none;
    overflow: hidden;
    z-index: -1;
}

.toptooltip {
    position: fixed;
    right: 16px;
    width: 320px;
    height: 96px;
    transition: right 250ms, opacity 250ms;
    background-image: url("./assets/toptooltip.png");
    flex: none;
    overflow: hidden;
    z-index: -1;
}

.nodisp {
    font-size: 0px;
    visibility: hidden;
    position: absolute;
}

h1,h2,h3,h4,h5,h6 {
    margin: 4px;
}

.smpadding {
    padding: 8px;
}

.mdpadding {
    padding: 16px;
}

.bigpadding {
    padding: 24px;
}

.hugpadding {
    padding: 32px;
}

table.tblw, tr.tblw {
    border: 2px solid white;
}

th {
    font-family: WiiNTLG;
}

.dbgtxt {
    font-family: WiiNTLGmono;
    font-size: 4px;
    letter-spacing: 0;
}

smtxt {
    font-size: 12px;
    letter-spacing: .05rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.anodec{
    text-decoration: none;
    color: var(--text-color);
}

code {
    padding: 5px;
    letter-spacing: 0;
    display: block;
    width: 96%;
    border: 2px solid gray;
}

.sbcode {
    font-family: "Misaki Gothic";
    background-color: black;
    color: white;
}

.stdcode {
    font-family: WiiNTLGmono;
    background-color: white;
    color: black;
}

header {
    position: fixed;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
}

header,footer {
    padding: 5px;
    font-size: 16px;
    background-color: rgba(0,0,0,.65);
    color: white;
    width: 100%;
    height: 22px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0px 0px 15px black;
    vertical-align: middle;
}

.buttondama {
    background-color: rgba(0,0,0,0.15);
    color: #eee;
}

.buttondama:hover {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.btnl {
    background-color: rgba(255,255,255,0.15);
    color: #222;
}

.btnl.btdisabled {
    background-color: rgba(255,255,255,1);
    color: gray;
}

.btnl:hover:not(.btdisabled) {
    background-color: rgba(255,255,255,0.5);
    color: black;
}

.btnb:not(.btdisabled) {
    background-color: rgba(200,200,200,0.5);
    color: #222;
}

.btnb.btdisabled {
    background-color: rgba(128,128,128,1);
    color: black;
}

.btnb:hover:not(.btdisabled) {
    background-color: rgba(200,200,200,0.75);
    color: black;
}

btn {
    transition: background-color 0.3s,color 0.3s;
    padding: 1px 4px 1px 4px;
    vertical-align: middle;
}

inbody {
    display: block;
    height: calc(100% - 80px);
    width: calc(100% - 20px);
    margin: 0;
    padding: 10px;
}

vr:after {
    margin-left: 5px;
    margin-right: 5px;
    content: "|";
}

.texgold {
    background: linear-gradient(240deg,#ffff80 0%,#ffcc88 60%,#ffff80 100%);
    color: #a60;
}

.texsilver {
    background: linear-gradient(240deg,#fff 0%,#ccc 60%,#fff 100%);
    color: #666;
}

.texbronze {
    background: linear-gradient(240deg,#c08040 0%,#885818 60%,#c08040 100%);
    color: #431;
}

.texcyan {
    background: linear-gradient(240deg,#0cc 0%,#099 60%,#0dd 100%);
    color: white;
}

.texsky {
    background: linear-gradient(240deg,#a0a0ff 0%,#6098ff 60%,#99b3ff 100%);
    color: white;
}

.texblue {
    background: linear-gradient(240deg,#2060ff 0%,#3099ff 60%,#1877ff 100%);
    color: white;
}

.texgreen {
    background: linear-gradient(240deg,#60a080 0%,#99c098 60%,#77ffa0 100%);
    color: green;
}

.texred {
    background: linear-gradient(240deg,#a01810 0%,#ff2010 60%,#881408 100%);
    color: white;
}

.buttonturquoise {
    background-color: rgb(0,220,220);
    color: white;
}

.buttonturquoise:hover {
    background-color: rgb(0,200,200);
    color: white;
}

.buttonturquoise:active {
    background-color: rgb(0,100,100);
    color: white;
}

.buttonlight {
    background-color: rgb(200,200,200);
    color: black;
}

.buttonlight:hover {
    background-color: rgb(230,230,230);
    color: #555;
}

.buttonlight:active {
    background-color: rgb(150,150,150);
    color: black;
}

.buttonsky {
    background-color: rgb(120,180,255);
    color: black;
}

.buttonsky:hover {
    background-color: rgb(170,220,255);
    color: #333;
}

.buttonsky:active {
    background-color: rgb(100,90,230);
    color: black;
}

.buttondark {
    background-color: rgb(16,32,48);
    color: gray;
}

.buttondark:hover {
    background-color: rgb(64,96,144);
    color: white;
}

.buttondark:active {
    background-color: rgb(0,4,12);
    color: #444;
}

header button:hover:not(.btnb), footer button:hover:not(.btnb) {
    transform: scale(1.05);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

header button:active:not(.btnb), footer button:active:not(.btnb) {
    transform: scale(0.95);
    box-shadow: 0px 0px 5px black;
}

.isbutt0 {
    padding: 3px 3px 0px 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    border-radius: 12.5px;
}

.isbutt0:hover {
    transform: scale(1.025);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

header button, footer button {
    border-radius: 5px;
}

.curvedge {
    border-radius: 5px;
}

.curvedge1 {
    border-radius: 2.5px;
}

.curvedge2 {
    border-radius: 10px;
}

.curvedge3 {
    border-radius: 20px;
}
.width48 {
  width: 48px;
  height: 48px;
}
.width32 {
  width: 32px;
  height: 32px;
}
button {
    font-family: CTRNTLG,nintendo_NTLG-DB_002,nintendo_NTLG-DB_001,sans-serif!important;
}

header button, footer button, .isbutt0 {
    font-size: 16px;
    border: none;
    transition: background-color 0.3s,color 0.3s,transform 0.3s,box-shadow 0.3s;
}

/* header icons */

/* Citra font only */
.ntlghome:after {
    content: '\e073';
}

/* A button */
.ntlgbutta:after {
    content: '\e000';
}

/* B button */
.ntlgbuttb:after {
    content: '\e001';
}

/* X button */
.ntlgbuttx:after {
    content: '\e002';
}

/* Y button */
.ntlgbutty:after {
    content: '\e003';
}

/* L button */
.ntlgbuttl:after {
    content: '\e004';
}

/* R button */
.ntlgbuttr:after {
    content: '\e005';
}

/* directional pad */
.ntlgdpad:after {
    content: '\e006';
}

/* directional pad with lines */
.ntlgdpadl:after {
    content: '\e041';
}

/* question mark block */
.ntlgqblock:after {
    content: '\e06b';
}

/* back arrow */
.ntlgback:after {
    content: '\e072';
}

/* font definition */

/* 3DS browser font but excluding kanjis */
@font-face {
    font-family: CTRNTLG;
    src: url('./assets/fonts/CTRNTLG-DB.ttf');
}

/* 3DS browser font but wider and excluding kanjis */
@font-face {
    font-family: CTRNTLGE;
    src: url('./assets/fonts/CTRNTLG-ExDB.ttf');
}

/* Wii font */
@font-face {
    font-family: WiiNTLG;
    src: url('./assets/fonts/WiiNTLG-R.ttf');
}

/* Wii font but monospace */
@font-face {
    font-family: WiiNTLGmono;
    src: url('./assets/fonts/WiiNTLGmono-R.ttf');
}

/* SmileBASIC font */
@font-face {
    font-family: 'Misaki Gothic';
    src: url('./assets/fonts/MisakiGothic.ttf');
}

@media only screen and (max-width: 800px) {
  table {
    max-width: calc(100% - 20px);
  }
  img {
    max-width: 100%;
  }
  body{
    font-size: 12px;
  }
  #pagec0 {
    left: 0px;
    width: 100%;
  }

  .pageindex{
    box-shadow: 0 0 0 black;
    width: 0px;
    display: none;
    height: calc(100vh - 64px);
  }
  header,footer {
      font-size: 14px;
      height: 20px;
  }
  button,.isbutt0 {
      font-size: 14px;
  }
  .width48 {
    width: 36px;
    height: 36px;
  }
  .width32 {
    width: 24px;
    height: 24px;
  }
}

::-webkit-scrollbar{
  background-color: rgba(0,0,0,.125);
  width: 1em;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,.5);
}
